@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@700&display=swap');

/*--------------------*\
        #VARIABLES
\*--------------------*/

:root{
    /*--------------*\
        #THEME 1
    \*--------------*/

    /***** Backgrounds *****/

    --very-dark-desaturated-blue-main: hsl(222, 26%, 31%); /* main background */
    --very-dark-desaturated-blue-tk: hsl(223, 31%, 20%); /* toggle background, keypad background */
    --very-dark-desaturated-blue-screen: hsl(224, 36%, 15%); /* screen background */

    /***** Keys *****/

    --desaturated-dark-blue-bg: hsl(225, 21%, 49%);      /* key background */
    --desaturated-dark-blue-shadow: hsl(224, 28%, 35%);      /* key shadow */

    --red: hsl(6, 63%, 50%);                         /* key background, toggle */
    --dark-red: hsl(6, 70%, 34%);                    /* key shadow */

    --light-grayish-orange: hsl(30, 25%, 89%);        /* key background */
    --grayish-orange: hsl(28, 16%, 65%);              /* key shadow */

    /***** Text *****/

    --very-dark-grayish-blue: hsl(221, 14%, 31%);
    --white: hsl(0, 0%, 100%);

    /*--------------*\
        #THEME 2
    \*--------------*/

    /**** Backgrounds ****/

    --light-gray: hsl(0, 0%, 90%);                     /* main background */ 
    --grayish-red: hsl(0, 5%, 81%);                    /* toggle background, keypad background */
    --very-light-gray: hsl(0, 0%, 93%);                /* screen background  */
    
    /**** Keys ****/

    --dark-moderate-cyan: hsl(185, 42%, 37%);          /* key background */
    --very-dark-cyan: hsl(185, 58%, 25%);              /* key shadow */

    --orange: hsl(25, 98%, 40%);                       /* key background, toggle */
    --dark-orange: hsl(25, 99%, 27%);                  /* key shadow */

    --light-grayish-yellow: hsl(45, 7%, 89%);          /* key background */
    --dark-grayish-orange: hsl(35, 11%, 61%);          /* key shadow */
    
    /**** Text ****/

    --very-dark-grayish-yellow: hsl(60, 10%, 19%);
    --white: hsl(0, 0%, 100%);                         /* text  */
    
    /*--------------*\
        #THEME 3
    \*--------------*/

    /**** Backgrounds ****/

    --dark-violet-main: hsl(268, 75%, 9%);                 /* main background */
    --very-dark-violet-tks: hsl(268, 71%, 12%);     /* toggle background, keypad background, screen background */

    /**** Keys ****/

    --dark-violet: hsl(281, 89%, 26%);         /* key background */
    --vivid-magenta: hsl(285, 91%, 52%);       /* key shadow */

    --pure-cyan: hsl(176, 100%, 44%);          /* key background, toggle */
    --soft-cyan: hsl(177, 92%, 70%);           /* key shadow */

    --very-dark-violet: hsl(268, 47%, 21%);   /* key background */
    --dark-magenta: hsl(290, 70%, 36%);       /* key shadow */

    /**** Text ****/

    --light-yellow: hsl(52, 100%, 62%);
    --very-dark-blue: hsl(198, 20%, 13%);
    --white: hsl(0, 0%, 100%);                /* text */
    
    /*-----------------*\
        #TYPOGRAPHY
    \*-----------------*/

    --font-size: 32px;
    --weight-700: 700;
    
}

/*-----------------*\
        #RESET
\*-----------------*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'League Spartan', sans-serif;
    font-size: var(--font-size);
}

button{
    background: transparent;
    border: none;
    outline: none;
}

button:is(:hover, :focus){
    cursor: pointer;
}

/*----------------------*\
    #BACKGROUND THEMES
\*----------------------*/

.theme-1{
    background-color: var(--very-dark-desaturated-blue-main);
}

.theme-2{
    background-color: var(--light-gray);
}

.theme-3{
    background-color: var(--dark-violet-main);
}

/*-----------------*\
    #NAME-THEME
\*-----------------*/

.container-calculator{
    max-width: 425px;
    display: flex;
    flex-direction: column;
    row-gap: 33px;
    margin: 31px 26px;
}

.container-name-theme{
    display: flex;
    justify-content: space-between;
}

.brand{
    font-size: 26px;
}

.brand.theme-1, .theme__text.theme-1, .theme__numbers-number.theme-1, .result.theme-1{
    color: var(--white);
}

.brand.theme-2, .theme__text.theme-2, .theme__numbers-number.theme-2, .result.theme-2{
    color: var(--very-dark-grayish-yellow);
}

.brand.theme-3, .theme__text.theme-3, .theme__numbers-number.theme-3, .result.theme-3{
    color: var(--light-yellow);
}

.theme{
    display: flex;
    column-gap: 16px;
    align-items: flex-end;
}

.theme__text{
    text-transform: uppercase;
    font-size: 15px;
    letter-spacing: 2px;
}

.theme__numbers{
    display: flex;
    flex-direction: column;
    row-gap: 8px;
}

.theme__numbers-number{
    display: flex;
    justify-content: space-between;
    padding: 0 9px;
}

.theme__numbers-number{
    color: var(--light-yellow);
    font-size: 15px;
}

.theme__numbers-selectors{
    display: flex;
    column-gap: 16px;
    padding: 4px 6px;
    border-radius: 20px;
}

.theme__numbers-selectors.theme-1{
    background-color: var(--very-dark-desaturated-blue-tk);
}

.theme__numbers-selectors.theme-2{
    background-color: var(--grayish-red);
}

.theme__numbers-selectors.theme-3{
    background-color: var(--very-dark-violet-tks);
}

.circle{
    width: 14px;
    height: 14px;
    border-radius: 50%;
    border: 1px solid var(--white);
}

.circle.theme-1{
    background-color: var(--red); 
}

.circle.theme-2{
    background-color: var(--orange);
}

.circle.theme-3{
    background-color: var(--pure-cyan);
}

/*--------------*\
    #DISPLAY
\*--------------*/

.container-display{
    display: flex;
    justify-content: flex-end;
    padding: 28px;
    border-radius: 6px;
}

.container-display.theme-1{
    background-color: var(--very-dark-desaturated-blue-screen);
}

.container-display.theme-2{
    background-color: var(--very-light-gray);
}

.container-display.theme-3{
    background-color: var(--very-dark-violet-tks);
}

.result{
    background-color: transparent;
    font-size: 42px;
}

/*----------*\
    #KEYS
\*----------*/

.container-keys{
    display: flex;
    flex-direction: column;
    row-gap: 18px;
    padding: 18px;
    border-radius: 8px;
}

.container-keys.theme-1{
    background-color: var(--very-dark-desaturated-blue-tk);
}

.container-keys.theme-2{
    background-color: var(--grayish-red);
}

.container-keys.theme-3{
    background-color: var(--very-dark-violet-tks);
}

.container-keys__operations{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 60px);
    gap: 16px;
}

.key{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'League Spartan', sans-serif;
    font-size: 34px;
    border-radius: 6px;
    border: none;
    outline: none;
}

.key.theme-1{
    background-color: var(--light-grayish-orange);
    color: var(--very-dark-grayish-blue);
    box-shadow: 0 6px 2px -2px var(--grayish-orange);
}

.key.theme-2{
    background-color: var(--light-grayish-yellow);
    color: var(--very-dark-grayish-yellow);
    box-shadow: 0 6px 2px -2px var(--dark-grayish-orange);
}

.key.theme-3{
    background-color: var(--very-dark-violet);
    color: var(--light-yellow);
    box-shadow: 0 6px 2px -2px var(--dark-magenta);
}

.container-keys__reset-equal{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 60px;
    gap: 10px;
}

.key.delete, .key.reset{
    font-size: 20px;
    text-transform: uppercase;
    
}

.key.delete.theme-1, .key.reset.theme-1{
    background-color: var(--desaturated-dark-blue-bg);
    color: var(--white);
    box-shadow: 0 6px 2px -2px var(--desaturated-dark-blue-shadow);
}

.key.delete.theme-2, .key.reset.theme-2{
    background-color: var(--dark-moderate-cyan);
    color: var(--white);
    box-shadow: 0 6px 2px -2px var(--very-dark-cyan);
}

.key.delete.theme-3, .key.reset.theme-3{
    background-color: var(--dark-violet);
    color: white;
    box-shadow: 0 6px 2px -2px var(--vivid-magenta);
}

.key.equal{
    font-size: 24px;
}

.key.equal.theme-1{
    background-color: var(--red);
    color: var(--white);
    box-shadow: 0 6px 2px -2px var(--dark-red);
}

.key.equal.theme-2{
    background-color: var(--orange);
    color: var(--white);
    box-shadow: 0 6px 2px -2px var(--dark-orange);
}

.key.equal.theme-3{
    background-color: var(--pure-cyan);
    color: var(--very-dark-blue);
    box-shadow: 0 6px 2px -2px var(--soft-cyan);
}

/*------------------*\
    #MEDIA QUERIES 
\*------------------*/

@media(min-width:500px){
    .container-calculator{
        margin: 6% auto;
    } 
}

